page-showmy-request {
    h5{
        // font-family: 'Hepta Slab', serif;
        color: rgb(0, 16, 63);
        font-family: 'Anton', sans-serif;
    }
    .theFab{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        background: white;
    }
    .arrow{
        color: #014C9F;
    }
    h1{
        color: #014C9F;
    }
.main{
    height:140px;
    width:90%;
    box-shadow: 2px 15px 20px -15px rgb(53, 53, 53);
    display:flex;
    margin:auto;
    margin-top:20px;
    border-radius: 10px;
    
}

.top{
width:35%;
height:100%;
// border:1px solid red;

img{
    object-fit: cover;
    height:100%;
    padding:5px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

}
.bottom{
    width:65%;
    height:100px;
    padding-left:12px;
    top:0;
    

    p{
        font-size:12px;
        font-family: 'Hepta Slab', serif;
    }
}
#btn2{
    left:120px;
    margin-top:7px;
    margin-left:45px;
}
#btn{
    right:20px;
    // margin-top:-23px;
    margin-left:50px;
}

    h1{
        font-family: 'Playfair Display', serif;
        text-align: center;
        padding-top:50px;
    }
    .container{
        p{
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            color:#014b9f;
            margin-top:-40px;
        }
   

        img{
        height: 350px;
        width:600px;
        }
    }
}
