page-edit-request {
    .theFab{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        background: white;
    }
    ion-icon{
        color: white;
    }
    .content{
        background-color: #ffffff;
        
    }
    .list{
        position: relative;
        top: 50px;
    }
    .item{
        border-radius: 50px;
        background-color:  #00103F;
        color: white;
        ::-webkit-input-placeholder{
            color: rgb(199, 199, 199);
        }
    }
    .check{
        position: relative;
        font-size: 2.5em;
    }
 
    .arrow{
        color: #014C9F;
    }
    .fileChooser{
        position: relative;
        top: 40px;
        
    }
    // .containerdiv{
    //     border:solid red;
    //     width: 100%;
    //     background-color:  #00103F;
    // }
    .round{
        width: 180px;
        height: 180px;
        border-radius: 100px;
        border: white solid 2px;
        margin: 0 auto;
        box-shadow: 0 2px 15px grey;
        position: relative;
        top: 50px;
        // border:solid red;
    }
    .picture{
        width: 180px;
        height: 180px;
        border-radius: 100px;
        margin: 0 auto;
        object-fit: cover;
    }
    #file{
        display: none
    }
    .Add{
        color:  #014C9F;
        text-shadow: 0 0 5px white;
        font-size: 3.2em;
        position: relative;
        bottom: 30px;
        left: 60%;
        text-shadow: 0 0 0 black;
    }
    .head{
        height: 50px;
    }
    h1{
        text-align: center;
        font-weight: 100;
        color: #166b85;
    }
    @media  screen and (min-width:700px){
        .list{
            position: relative;
            top: 150px;
        }
        .check{
            position: relative;
            font-size: 4.5em;
        }
        .arrow{
            font-size: 4em;
    
        }
 
        .item{
            border-radius: 50px;
            font-size: 1.8em;
        }
 
        // .Check{
        //     position: relative;
        //     bottom: 65px;
        //     font-size: 1.7em;
        // }
 
        .fileChooser{
            position: relative;
            top: 80px;
            font-size: 1.5em;
            position: relative;
        }
 
        .round{
            width: 250px;
            height: 250px;
            border-radius: 150px;
            border: white solid 2px;
            margin: 0 auto;
            img:active{
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
        }
 
        .picture{
            width: 250px;
            height: 250px;
            border-radius: 150px;
            margin: 0 auto;
        }
 
        #file{
            display: none
        }
 
        .Add{
            color:  #014C9F;
            font-size: 3.5em;
            position: relative;
            bottom: 95px;
            left: 55%;
            text-shadow: 0 0 0 black;
        }
        h1{
            text-align: center;
            font-weight: 100;
            color: #166b85;
            position: relative;
            top: 50px;
            font-size: 3em
        }
 
    }
    @media screen and (max-width:350px){
        .list{
            position: relative;
            top: 50px;
        }
 
        .item{
            border-radius: 50px;
        }
 
        .check{
            position: relative;
            font-size: 2.5em;
        }
 
        .fileChooser{
            position: relative;
            top: 40px;
        }
 
        .round{
            width: 125px;
            height: 125px;
            border-radius: 100px;
            border: white solid 2px;
            margin: 0 auto;
        }
 
        .picture{
            width: 120px;
            height: 120px;
            border-radius: 100px;
            margin: 0 auto;
            object-fit: cover; 
        }
 
        #file{
            display: none
        }
 
        .Add{
            color:  #014C9F;
            font-size: 3.1em;
            position: relative;
            bottom: 28px;
            right: 4px;
            text-shadow: 0 0 0 black;
        }
        h1{
            text-align: center;
            font-weight: 100;
            color: #014C9F;
            font-size: 1.6em;
        }
    }
    .options{
        
        background: rgb(255, 255, 255);
        width: 100%;
        height: 500px;
        box-shadow: 0 0 5px black;
        position: absolute;
        top: 10vh;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px; 
    }
}
