page-make-request {
    h3{
        text-align: center;
        margin-top:100px;
        font-family: 'Hepta Slab', serif;
        color: rgb(0, 16, 63);
        font-family: 'Anton', sans-serif;
    }
    ion-content{
        background-image: linear-gradient( rgb(243, 243, 243), rgba(243, 243, 243, 0.714));
        overflow-y: hidden;
    }
    .scroll-content{
        overflow-y: hidden;
    }
    .movcont{
        box-shadow: 2px 15px 20px -15px rgb(53, 53, 53);
        width:350px;
        height:300px;
        margin:auto;
        padding-left: 20px;
        padding-top:10px;
        b{
            font-size:1.5em;
            font-family: 'Hepta Slab', serif;
        }
    }
    .maindiv{
        height:70%;
        width:100%;
        margin-top:40px;
        
        font-size: 1.3em;
     
        button{
            border-radius: 100px;
            width:60%;
            height:30px;
        }

        p{
            text-transform: capitalize;
            font-size: 0.7em;
        }
    }
    h2{
        color:black;
    }

    .top{
        background-image: linear-gradient( rgb(0, 16, 63), rgba(0, 16, 63, 0.557)), url('../../assets/card1.jpg');
        height:30%;
        position: relative;
        text-align: center;
        
        
        img{
         margin-top:150px;
         object-fit: cover;
         width:150px;
         height:150px;
         box-shadow: 4px 15px 20px -15px rgb(53, 53, 53);
         border-radius: 100px;
        
        }
    }
    .bottom{
      height:70%;
      width:100%;
    }

    }
    

