page-make-request {
    h3{
        text-align: center;
        margin-top:100px;
        font-family: 'Hepta Slab', serif;
        color: #FFAF00;
    }
    ion-content{
        background-image: linear-gradient( rgb(243, 243, 243), rgba(243, 243, 243, 0.714));
        overflow-y: hidden;
    }
    .scroll-content{
        overflow-y: hidden;
    }
    .movcont{
        // margin-top:20px;
        b{
            font-size:1.5em;
            font-family: 'Hepta Slab', serif;
        }
    }
    .maindiv{
        height:70%;
        width:100%;
        padding-left:20px;
        margin-top:40px;
        font-size: 1.3em;
        // text-align: center;
        // margin-left:30px;
        // margin-top:30px;
        // border:2px solid red;

        button{
            border-radius: 100px;
            width:60%;
            height:30px;
        }

        p{
            text-transform: capitalize;
            font-size: 0.7em;
        }
    }
    h2{
        color:black;
    }

    .top{
        background-color: #00103F;
        height:30%;
        position: relative;
        width:100%;
        img{
            height:100px !important;
            padding-left:10px;
            padding-top:10px;
        }
    }
    .bottom{
      height:70%;
      width:100%;
    }
    .divImage{
        // border:solid red;
        height:100%;
        text-align: center !important;

        img{
           
            box-shadow: 4px 15px 20px -15px rgb(53, 53, 53);
            margin-top:160px;
            object-fit: cover;
            width:150px;
            height:200px;
            // border-radius: 100px;
           
            
        }
    }
    }
    

