page-offer {
    .content{
        width:100%;
        height:100%;
        background-image: linear-gradient( rgb(0, 16, 63), rgba(0, 16, 63, 0.557)), url('../../assets/card1.jpg');
        background-size:cover;
        background-repeat: no-repeat;
      
       }
    p{
        text-transform: capitalize;
        padding-left:40px;
        color: #00103F;
        
    }
   
    .range{
        width:85%;
        margin:0px auto;
    }
    .fix{
        margin:0px auto;
        text-align: center;
    }
    .input{
        width:85%;
        margin:0px auto;
        border:1px solid #2597FB;
        color: white;
    }
    h3{
        text-align: center;
        color:white;
        font-family: 'Lato', sans-serif;
        text-transform: capitalize;
        margin-top:100px;
    }
    #item{
        border:1px solid #2597FB;
        width:85%;
        margin:15px auto;
        background-color: #00103F
    }
    .contentdiv{
        text-align: center;
        margin-top:-40px;
        button{
        border-radius: 100px;
        width:50%;
        }
    }
    .scroll-content{
        overflow-y: hidden;
    }
    .container{
         height:30%;
         margin-top:90px;
    }
    .seconddiv{
       padding-top:10px;
        button{
            font-size: 1.9em;
        }
       
    }
    .mainButton{
        text-align: center;
        margin-top:30px;
        button{
            width:60%;
            border-radius: 5px;
            text-transform: inherit;
        }
    }
    }
    