<ion-content class="content">
  <div class="seconddiv">
    <button ion-button clear>
        <ion-icon class="arrow" name="arrow-back" id="mark" (click)="gotoass()"></ion-icon>
    </button>
  </div>
  <div class="bottom">
      <p class="head">List of Associates</p>
      <div *ngIf="this.displayuserArr.length == 0 || this.displayuserArr.length == undefind" class="undefinedMess">
          <img class="img3" src="../../assets/empty2.png">
          <div class="divP">
            <p>No associates avaliable yet...</p>
          </div>
        </div>
    <div class="infor" *ngFor="let a of displayuserArr">
      <div class="img">
        <img src="{{a.downloadurl}}" imageViewer>
      </div>
    
      <div class="details">
        <p><b>CompanyName:</b>{{a.CSD_no}}</p> 
        <p><b>Request Amount:</b>R{{a.Amount}}</p>
        <p><b>offer:</b>{{a.offer}}</p>
        <button ion-button clear (click)="gotoOffer(a.name)">aDima</button>
        <button ion-button  clear (click)="gottoRequest(a.name)">View More</button>
      </div>
   
    </div>


  
  </div>

</ion-content>