page-signup {
    .move{
        // border:solid red;
        height:100%;
        margin-top:60px;

    }
    .divImage{
        text-align: center;
        img{
            height:200px;
        }
        p{
            font-size: 2.5em;
            color:white;
            font-family: 'Lato', sans-serif;
        }
    }
    .btnSign{
        height: 40px;
        border-radius: 10px;
        width:50%;
        text-align: center;
    }
    #anim1{

        // background-color: rgb(38, 41, 93);
        // border-radius: 100px;
        border-bottom:1px solid #2597FB;
        width:70%;  
        height:50px;
        text-align: center;
        margin:20px auto;
        // padding-left:15px;
        // padding-top:10px;
        color:white;
    }
    #anim2{
        border-radius: 5px;
        width:60%;  
        text-transform: capitalize;

    }
    .moveCont{
        text-align: center;
        margin-top:35px;
     
  
     
    }
    .movebtn{
        text-align: center;
    }
    span{
        justify-content: center;
    }
    .help-block{
        justify-content: center;
    }
    .moveCont2{
        text-align: center; 
        margin-top:30px;
        button{

            text-transform: capitalize;
        }
        b{
            color:white;
        }
  
    }
    .theCard{
        text-align: center;
    }

    .content{
        background-image: linear-gradient( rgb(0, 16, 63), rgba(0, 16, 63, 0.557)), url('../../assets/card1.jpg');
        background-size:cover;
        //   background-attachment: fixed;
          background-repeat: no-repeat;
    }
  
   
}
