page-signupwithphone {
    .move{
        height:100%;
        margin-top:60px;

    }
    .divImage{
        text-align: center;
        margin-top:13px;
        img{
            height:200px;
        }
    }
    .header{
        font-size: 2em;
        color:white;
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
  
    #anim1{
        border-bottom:1px solid #2597FB;
        width:70%;  
        height:50px;
        text-align: center;
        margin:20px auto;
        color:white;
    }
    .divbtn{
        margin-top:20px;
        text-align:center;
        text-transform: capitalize;
        button{
        border-radius: 5px;
        width:60%;  
        }
    }
    .input{
        border:2px solid transparent;
        width:50px;
        text-align: center;
        border-radius: 10px;
        padding-top:10px;
    
    
    }
    #anim2{
        border-radius: 5px;
        width:60%;  
        text-transform: capitalize;

    }
    .theCard{
        text-align: center;
    }
    .moveCont2{
        text-align: center; 
        color:white;
        margin-top:40px;
        button{

            text-transform: capitalize;
            margin-top:10px;
        }
        b{
            color:white;   
        }
  
    }
    #recaptcha-container{
        // border:solid red;
        margin:20px auto;
        width:70%;
        
    }
    .input2{
        border:2px solid transparent;
        width:50px;
        text-align: center;
        border-radius: 10px;
        padding-top:10px;
        color:white;
        background-color: transparent;

    
    }
    .inoutdiv{
        text-align: center;
        border-bottom:1px solid #2597FB;
        width:70%;  
        height:50px;
        margin:0px auto;
     
       
    }
    .font{
        text-align: center;
        color:white;
    }
    #verifycode{
        width:150px;
        color:white;
        border-radius: 100px;
        border:1px solid #FFAF00;
    }
    .input2{
    }
    .input3{
       text-align: center;
    }

    .content{
        background-image: linear-gradient( rgb(0, 16, 63), rgba(0, 16, 63, 0.557)), url('../../assets/card1.jpg');        background-size:cover;
        background-repeat: no-repeat;
    }
    
}
