page-pay {

    .content{
        background-image: linear-gradient( rgb(0, 16, 63), rgba(0, 16, 63, 0.557)), url('../../assets/card1.jpg');
        background-size:cover;
        background-repeat: no-repeat;
    }
    .maindiv{
        height:70%;
        width:100%;
        text-align: center;
        // border:2px solid red;

        button{
            // border-radius: 100px;
            width:60%;
            height:30px;
        }

        // p{
        //     text-transform: capitalize;
        //     font-size: 1.5em;
        // }
    }
    .divImage{
        margin-top:90px;
        img{
            height:250px;
            width:300px;
            
        }
    }

 
    h2{
        color:#00103F;
    }
    b{
        font-family: 'Playfair Display', serif;
        color:white;
 
    }
    p{
        color:white;
        text-transform: capitalize;
    }

    .top{
        background-color: #014C9F;
        height:10%;
        width:100%;
        img{
            height:50px;
            padding-left:10px;
            padding-top:10px;
        }
    }
    .font{
        font-size:1.2em;
       font-family: 'Satisfy', cursive;
        margin-top:50px;
        text-transform: capitalize;
        color:white;
        
    }
    .bottom{
      height:90%;
      width:100%;
    }
    .content{
        // background-image: linear-gradient( rgb(243, 243, 243), rgba(243, 243, 243, 0.714)), url('../../assets/images8.png');
    
    }
}
