page-inbox {
    .theFab{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
        background: white;
    }
    .arrow{
        color: #014C9F;
    }
    h1{
        color: #014C9F;
    }
.main{
    height:140px;
    width:90%;
    box-shadow: 2px 15px 20px -15px rgb(53, 53, 53);
    display:flex;
    margin:auto;
    margin-top:20px;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top{
width:30%;
height:100%;
// border:1px solid red;

img{
    height:100%;
    width:100%;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    // padding:5px;
}

}
.bottom{
    width:70%;
    height:100px;
    padding-left:10px;

    p{
        font-size:11px;
    }
}

    h1{
        font-family: 'Playfair Display', serif;
        text-align: center;
        padding-top:50px;
    }
    .container{
        p{
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            color:#014b9f;
            margin-top:-40px;
        }
   

        img{
        height: 350px;
        width:600px;
        }
    }
    
}
