page-choose {
    .divImage{
        text-align: center;
        margin-top:20%;
        img{
            height:200px;
        }
   
    }
    .p{
        text-align: center;
        color:white;
        font-size:2.5em;
      
    }
    .btnDiv{
        // border:2px solid red;
        text-align: center;
        height:30%;
        margin-top:10%;
        // margin:20px auto;
        button{
            text-transform: capitalize;
            // border-radius: 100px;
            margin:10px auto;
        }
        p{
           margin:10px auto;
           margin-top:20px;
           color:white;
           font-family: 'Lato', sans-serif;
        //    text-transform: capitalize;
        }
    }
    .cont{
        background-image: linear-gradient( rgb(0, 16, 63), rgba(0, 16, 63, 0.557)), url('../../assets/card1.jpg');
     background-size:cover;
     //   background-attachment: fixed;
       background-repeat: no-repeat;
    }
    #btn{
        width:80%;
        border-radius: 5px;
    }
    #btn2{
        width:80%;
        border-radius: 5px;
        border :1px solid #2597FB;
    }
    .buttons{
        // border:2px solid red;
        margin-top:70px;
    }
    .changebtn{
        text-transform: capitalize;
        b{
            color:white;
        }
    }
    .moveCont2{
        text-align: center;
        margin-top:80px;
  
    }
}
